@charset "UTF-8";
/* line 4, /home/rails/fulfilmylife/app/assets/stylesheets/base/_buttons.scss */
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #00b9e6;
  border: 0;
  border-radius: 3px;
  color: #eee;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
}
/* line 26, /home/rails/fulfilmylife/app/assets/stylesheets/base/_buttons.scss */
button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
  background-color: #0094b8;
  color: #fff;
}
/* line 31, /home/rails/fulfilmylife/app/assets/stylesheets/base/_buttons.scss */
button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
  outline: 3px solid rgba(0, 185, 230, 0.6);
  outline-offset: 2px;
}
/* line 36, /home/rails/fulfilmylife/app/assets/stylesheets/base/_buttons.scss */
button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 40, /home/rails/fulfilmylife/app/assets/stylesheets/base/_buttons.scss */
button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #00b9e6;
}

/* line 4, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 11, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

/* line 17, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

/* line 23, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
}

/* line 31, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
/* line 43, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}
/* line 47, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #00b9e6;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 185, 230, 0.7);
  outline: none;
}
/* line 53, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
/* line 57, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}
/* line 62, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

/* line 67, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 71, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 77, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 82, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
select {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 91, /home/rails/fulfilmylife/app/assets/stylesheets/base/_forms.scss */
[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(0, 185, 230, 0.6);
  outline-offset: 2px;
}

/* line 1, /home/rails/fulfilmylife/app/assets/stylesheets/base/_layout.scss */
html {
  box-sizing: border-box;
}

/* line 5, /home/rails/fulfilmylife/app/assets/stylesheets/base/_layout.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 11, /home/rails/fulfilmylife/app/assets/stylesheets/base/_layout.scss */
html,
body {
  height: 100%;
}

/* line 16, /home/rails/fulfilmylife/app/assets/stylesheets/base/_layout.scss */
body {
  margin: 0;
}

/* line 1, /home/rails/fulfilmylife/app/assets/stylesheets/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, /home/rails/fulfilmylife/app/assets/stylesheets/base/_lists.scss */
dl {
  margin: 0;
}

/* line 12, /home/rails/fulfilmylife/app/assets/stylesheets/base/_lists.scss */
dt {
  font-weight: 600;
  margin: 0;
}

/* line 17, /home/rails/fulfilmylife/app/assets/stylesheets/base/_lists.scss */
dd {
  margin: 0;
}

/* line 1, /home/rails/fulfilmylife/app/assets/stylesheets/base/_media.scss */
figure {
  margin: 0;
}

/* line 5, /home/rails/fulfilmylife/app/assets/stylesheets/base/_media.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 1, /home/rails/fulfilmylife/app/assets/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

/* line 9, /home/rails/fulfilmylife/app/assets/stylesheets/base/_tables.scss */
thead {
  line-height: 1.2;
  vertical-align: bottom;
}

/* line 14, /home/rails/fulfilmylife/app/assets/stylesheets/base/_tables.scss */
tbody {
  vertical-align: top;
}

/* line 18, /home/rails/fulfilmylife/app/assets/stylesheets/base/_tables.scss */
tr {
  border-bottom: 1px solid #ddd;
}

/* line 22, /home/rails/fulfilmylife/app/assets/stylesheets/base/_tables.scss */
th {
  font-weight: 600;
}

/* line 26, /home/rails/fulfilmylife/app/assets/stylesheets/base/_tables.scss */
th,
td {
  padding: 0.75em 0.75em 0.75em 0;
}

/* line 1, /home/rails/fulfilmylife/app/assets/stylesheets/base/_typography.scss */
html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* line 8, /home/rails/fulfilmylife/app/assets/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

/* line 20, /home/rails/fulfilmylife/app/assets/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 24, /home/rails/fulfilmylife/app/assets/stylesheets/base/_typography.scss */
a {
  color: #00b9e6;
  text-decoration-skip: ink;
  transition: color 150ms ease;
}
/* line 29, /home/rails/fulfilmylife/app/assets/stylesheets/base/_typography.scss */
a:hover {
  color: #008bad;
}
/* line 33, /home/rails/fulfilmylife/app/assets/stylesheets/base/_typography.scss */
a:focus {
  outline: 3px solid rgba(0, 185, 230, 0.6);
  outline-offset: 2px;
}

/* line 39, /home/rails/fulfilmylife/app/assets/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/**
 * simplemde v1.11.2
 * Copyright Next Step Webs, Inc.
 * @link https://github.com/NextStepWebs/simplemde-markdown-editor
 * @license MIT
 */
/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror {
  color: #000;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-lines {
  padding: 4px 0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror pre {
  padding: 0 4px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-gutter-filler, .CodeMirror-scrollbar-filler {
  background-color: #fff;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-guttermarker {
  color: #000;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-guttermarker-subtle {
  color: #999;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-cursor {
  border-left: 1px solid #000;
  border-right: none;
  width: 0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}

@-moz-keyframes blink {
  50% {
    background-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    background-color: transparent;
  }
}
@keyframes blink {
  50% {
    background-color: transparent;
  }
}
/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-header {
  color: #00f;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-quote {
  color: #090;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-negative {
  color: #d44;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-positive {
  color: #292;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-header, .cm-strong {
  font-weight: 700;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-em {
  font-style: italic;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-link {
  text-decoration: underline;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-strikethrough {
  text-decoration: line-through;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-keyword {
  color: #708;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-atom {
  color: #219;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-number {
  color: #164;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-def {
  color: #00f;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-variable-2 {
  color: #05a;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-variable-3 {
  color: #085;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-comment {
  color: #a50;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-string {
  color: #a11;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-string-2 {
  color: #f50;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-meta, .cm-s-default .cm-qualifier {
  color: #555;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-builtin {
  color: #30a;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-bracket {
  color: #997;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-tag {
  color: #170;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-attribute {
  color: #00c;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-hr {
  color: #999;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-s-default .cm-link {
  color: #00c;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-invalidchar, .cm-s-default .cm-error {
  color: red;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-composing {
  border-bottom: 2px solid;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-activeline-background {
  background: #e8f2ff;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: #fff;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-scroll {
  overflow: scroll !important;
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: 0;
  position: relative;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-gutter-filler, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-vscrollbar {
  position: absolute;
  z-index: 6;
  display: none;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: 0 0 !important;
  border: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: 0 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-code {
  outline: 0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber, .CodeMirror-scroll, .CodeMirror-sizer {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-cursor {
  position: absolute;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-measure pre {
  position: static;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-focused div.CodeMirror-cursors, div.CodeMirror-dragcursors {
  visibility: visible;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-selected {
  background: #d9d9d9;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-focused .CodeMirror-selected, .CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-crosshair {
  cursor: crosshair;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4);
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-force-border {
  padding-right: .1px;
}

@media print {
  /* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}
/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.cm-tab-wrap-hack:after {
  content: '';
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
span.CodeMirror-selectedtext {
  background: 0 0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror {
  height: auto;
  min-height: 300px;
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  font: inherit;
  z-index: 1;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-scroll {
  min-height: 300px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-fullscreen {
  background: #fff;
  position: fixed !important;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 9;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror-sided {
  width: 50% !important;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar {
  position: relative;
  opacity: .6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 0 10px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar:after, .editor-toolbar:before {
  display: block;
  content: ' ';
  height: 1px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar:before {
  margin-bottom: 8px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar:after {
  margin-top: 8px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar:hover, .editor-wrapper input.title:focus, .editor-wrapper input.title:hover {
  opacity: .8;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar.fullscreen {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background: #fff;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar.fullscreen::before {
  width: 20px;
  height: 50px;
  background: -moz-linear-gradient(left, white 0, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, white 0, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, white 0, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, white 0, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar.fullscreen::after {
  width: 20px;
  height: 50px;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, white 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(100%, white));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, white 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, white 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, white 100%);
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar a {
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  color: #2c3e50 !important;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar a.active, .editor-toolbar a:hover {
  background: #fcfcfc;
  border-color: #95a5a6;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar a:before {
  line-height: 30px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar i.separator {
  display: inline-block;
  width: 0;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #fff;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar a.fa-header-x:after {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 65%;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar a.fa-header-1:after {
  content: "1";
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar a.fa-header-2:after {
  content: "2";
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar a.fa-header-3:after {
  content: "3";
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar a.fa-header-bigger:after {
  content: "▲";
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar a.fa-header-smaller:after {
  content: "▼";
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  pointer-events: none;
  background: #fff;
  border-color: transparent;
  text-shadow: inherit;
}

@media only screen and (max-width: 700px) {
  /* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
  .editor-toolbar a.no-mobile {
    display: none;
  }
}
/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-statusbar {
  padding: 8px 10px;
  font-size: 12px;
  color: #959694;
  text-align: right;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-statusbar span {
  display: inline-block;
  min-width: 4em;
  margin-left: 1em;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-preview, .editor-preview-side {
  padding: 10px;
  background: #fafafa;
  overflow: auto;
  display: none;
  box-sizing: border-box;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-statusbar .lines:before {
  content: 'lines: ';
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-statusbar .words:before {
  content: 'words: ';
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-statusbar .characters:before {
  content: 'characters: ';
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 7;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-preview-side {
  position: fixed;
  bottom: 0;
  width: 50%;
  top: 50px;
  right: 0;
  z-index: 9;
  border: 1px solid #ddd;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-preview-active, .editor-preview-active-side {
  display: block;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-preview-side > p, .editor-preview > p {
  margin-top: 0;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-preview pre, .editor-preview-side pre {
  background: #eee;
  margin-bottom: 10px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.editor-preview table td, .editor-preview table th, .editor-preview-side table td, .editor-preview-side table th {
  border: 1px solid #ddd;
  padding: 5px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-tag {
  color: #63a35c;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-attribute {
  color: #795da3;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-string {
  color: #183691;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-selected {
  background: #d9d9d9;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-header-1 {
  font-size: 200%;
  line-height: 200%;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-header-2 {
  font-size: 160%;
  line-height: 160%;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-header-3 {
  font-size: 125%;
  line-height: 125%;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-header-4 {
  font-size: 110%;
  line-height: 110%;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-comment {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-link {
  color: #7f8c8d;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-url {
  color: #aab2b3;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-code .cm-strikethrough {
  text-decoration: line-through;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .CodeMirror-placeholder {
  opacity: .5;
}

/* line 7, /home/rails/fulfilmylife/app/assets/stylesheets/plugins/simple_mde.scss */
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: rgba(255, 0, 0, 0.15);
}

/* line 10, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
/* line 20, /home/rails/fulfilmylife/app/assets/stylesheets/bourbon/bourbon/library/_clearfix.scss */
.flex-boxes::after {
  clear: both;
  content: "";
  display: block;
}
/* line 38, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .flex-box {
  align-self: stretch;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e6e6;
  display: block;
  flex: 2 2 15em;
  margin: 0.4em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
/* line 63, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .flex-box img {
  display: block;
  height: 3em;
  margin: 0 auto 1em;
  opacity: 0.4;
}
/* line 70, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .flex-box .flex-title {
  color: rgba(51, 51, 51, 0.7);
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
/* line 76, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .flex-box p {
  color: rgba(51, 51, 51, 0.6);
  line-height: 1.5em;
  margin: auto;
}
/* line 83, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .pushup {
  border-top: 6px solid #92B1E3;
}
/* line 4, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .pushup:focus, .flex-boxes .pushup:hover {
  background-color: rgba(146, 177, 227, 0.1);
}
/* line 87, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .habit {
  border-top: 6px solid #72BFBF;
}
/* line 4, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .habit:focus, .flex-boxes .habit:hover {
  background-color: rgba(114, 191, 191, 0.1);
}
/* line 91, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .survey {
  border-top: 6px solid tomato;
}
/* line 4, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .survey:focus, .flex-boxes .survey:hover {
  background-color: rgba(255, 99, 71, 0.1);
}
/* line 95, /home/rails/fulfilmylife/app/assets/stylesheets/refills/_flex-boxes.scss */
.flex-boxes .flex-box-big {
  flex: 1 1 40em;
}

/* line 26, /home/rails/fulfilmylife/app/assets/stylesheets/neat/neat/mixins/_grid-container.scss */
.grid-box::after {
  clear: both;
  content: "";
  display: block;
}

/* line 5, /home/rails/fulfilmylife/app/assets/stylesheets/_common.scss */
.grid-column-3 {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
}

/* line 9, /home/rails/fulfilmylife/app/assets/stylesheets/_common.scss */
.grid-column-6 {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}

/* line 15, /home/rails/fulfilmylife/app/assets/stylesheets/_common.scss */
iframe .text {
  display: none !important;
}

/* line 19, /home/rails/fulfilmylife/app/assets/stylesheets/_common.scss */
iframe .button-wrapper a[target="_blank"] {
  display: none;
}

/* line 9, /home/rails/fulfilmylife/app/assets/stylesheets/application.scss */
.card-header {
  padding: 20px 10px;
  background: #eee;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* line 18, /home/rails/fulfilmylife/app/assets/stylesheets/application.scss */
.card-header.pushup {
  background: #92B1E3;
}

/* line 22, /home/rails/fulfilmylife/app/assets/stylesheets/application.scss */
.card-header.habit {
  background: #72BFBF;
}

/* line 26, /home/rails/fulfilmylife/app/assets/stylesheets/application.scss */
.card-header.survey {
  background: tomato;
}
