.grid-box {
   @include grid-container;
}

.grid-column-3 {
	@include grid-column(3);
}

.grid-column-6 {
	@include grid-column(6);
}

.content {
  width: 800px;
  max-width: 95%;
  margin: 0px auto;
}

.center {
  margin: 0px auto;
  text-align: center;
}

.mb30 {
  margin-bottom: 30px;
}

// Type form 
iframe .text {
	display: none !important;
}

iframe .button-wrapper a[target="_blank"] {
	display: none;
}
