@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "base/flashes";
@import "resets/buttons";
@import "plugins/simple_mde";
@import "refills/flex-boxes";
@import "refills/parallax";
@import "recurring_select";
@import "common";
@import "welcome";

.card-header {
	padding: 20px 10px;
	background: #eee;
	color: white;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.card-header.pushup {
	color: $pushup;
	border: 1px dashed $pushup;
	background: white;
}

.card-header.habit {
	color: $habit;
	border: 1px dashed $habit;
	background: white;
}

.card-header.survey {
	color: $survey;
	border: 1px dashed $survey;
	background: white;
}





// Survey
